{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "codeFrame": true
    },
    "plugins": [
        "@typescript-eslint/tslint"
    ],
    "rules": {
        "@typescript-eslint/tslint/config": [
            "warn",
            {
                "lintFile": ".tslint.json",
                "rules": {},
                "rulesDirectory": []
            }
        ]
    }
}
