html {
    font-family: 'Oswald', sans-serif;
    color: lightcyan;
}

body {
    background-color: #1C1822;
}

span {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    position: absolute;
}

.slider-container {
    width: 15vh;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #2F4858;
    outline: none;
    opacity: 0.7;
    border-radius: 25%;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 10px;
    background: #50396D;
    cursor: pointer;
    border-radius: 25%;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #74235D;
    cursor: pointer;
}
